h1 {
    flex: 1;
    direction: rtl;
    text-align: right;
    flex-grow: 1;
    font-size: 5vh;
    font-family: Rubik, Ariel;
}

p {
    flex: 1;
    direction: rtl;
    text-align: right;
    flex-grow: 1;
    font-size: 3vh;
    color: #000000;
    opacity: 0.7;
    font-family: Rubik, Ariel;
}

.error-text {
    flex: 1;
    direction: rtl;
    text-align: right;
    font-size: 1.5vh;
    color: indianred;
    opacity: 0.7;
    font-family: Rubik, Ariel;
}

.test_result_progressbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.progressbar {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
}

.main_content_margin_left_right_container {
    display: flex;
}

.main_content_side_by_side_container {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.content {
    flex: 3;
    margin: 5%;
}

.main_image {
    flex: 1;
    flex-shrink: initial;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 5vh;
}

.enter-barcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.enter-barcode-item {
    flex: 2;
}

.enter-barcode-item-input {
    flex: 1;
}

.searchbar {
    flex: 5;
    margin-left: 1%;
}

.input {
    width: 100%;
    /*height: 95%;*/
    border-width: 1px;
    border-radius: 10px;
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 2vh;
    font-family: Rubik, Ariel;
    height: 5vh;
}

.button-link {
    width: 100%;
    height: 100%;
    flex: 2;
}


.button {
    width: 100%;
    height: 100%;
    background-color: #555555;
    border-radius: 10px;
    color: white;
    border-width: 0px;
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-family: Rubik, Ariel;
    font-size: 2vh;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.button:active {
    background-color: #357837;
    color: white;
}

.suffix-button-link {
    width: 100%;
    height: 100%;
    margin-left: 1%;
    flex: 1;
}

.suffix-button {
    width: 100%;
    height: 100%;
    background-color: #ABABAB;
    border-radius: 10px;
    color: white;
    border-width: 0px;
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-family: Rubik, Ariel;
    font-size: 2vh;
}

.suffix-button:hover {
    background-color: #4CAF50;
    color: white;
}

.suffix-button:active {
    background-color: #357837;
    color: white;
}

.appbar-container {
    height: 100%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
}

.logo {
    flex: 1;
    align-self: flex-start;
    height: 10vh;
}

.appbar-buttons-container {
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-grow: 3;
}

.appbar-link {
    flex: 1;
    margin-right: 2%;
}

.appbar-button {
    flex: 1;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: transparent;
    border-radius: 10px;
    color: black;
    opacity: 0.7;
    border-width: 0px;
    /*noinspection CssInvalidFunction*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-family: Rubik, Ariel;
    font-size: 3vh;
    height: 100%;
    width: 100%;
}

.appbar-button:hover {
    background-color: #555555;
    color: white;
}

.appbar-button:active {
    background-color: #383838;
    color: white;
}

.bottom_toast {
    direction: rtl;
}

.buttons-header {
    padding-top: 2%;
    align-items: center;
    direction: rtl;
    box-shadow: none;
}

.user-form-container {
    flex-direction: column;
    display: flex;
    justify-items: center;
}

.user-form-item {
    flex: 1;
    width: 50%;
}

.send-form-button {
    flex: 1;
    width: 50%;
    height: 5vh;
}

.one-page-part {
    flex: 1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}

.all-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}



@font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik_300.ttf);
}

@keyframes ldio-9o242xdhv0o {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-9o242xdhv0o div {
    box-sizing: border-box !important
}

.ldio-9o242xdhv0o > div {
    position: absolute;
    width: 175.68px;
    height: 175.68px;
    top: 34.16px;
    left: 34.16px;
    border-radius: 50%;
    border: 19.52px solid #000;
    border-color: #71916d transparent #71916d transparent;
    animation: ldio-9o242xdhv0o 1.2048192771084336s linear infinite;
}

.ldio-9o242xdhv0o > div:nth-child(2) {
    border-color: transparent
}

.ldio-9o242xdhv0o > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-9o242xdhv0o > div:nth-child(2) div:before, .ldio-9o242xdhv0o > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 19.52px;
    height: 19.52px;
    top: -19.52px;
    left: 58.56px;
    background: #71916d;
    border-radius: 50%;
    box-shadow: 0 156.16px 0 0 #71916d;
}

.ldio-9o242xdhv0o > div:nth-child(2) div:after {
    left: -19.52px;
    top: 58.56px;
    box-shadow: 156.16px 0 0 0 #71916d;
}

.loadingio-spinner-dual-ring-4pm97gr5npk {
    width: 244px;
    height: 244px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-9o242xdhv0o {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-9o242xdhv0o div {
    box-sizing: content-box;
}


