h1 {
    flex: 1;
    font-size: 5vh;
    font-family: Rubik, Ariel, serif;
}

p {
    flex: 1;
    font-size: 3vh;
    color: #000000;
    opacity: 0.7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

.in-div-container-login {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-div-container-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30%;
}

.container {
    margin: -1%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

.flex-item-colored {
    margin-right: -1%;
    margin-bottom: -1%;
    background-color: #7887AB;
    flex-basis: 60%;
}

.flex-item {
    justify-items: center;
    align-items: center;
    margin: 2%;
    flex-basis: 40%;
}
