.in-div-container-login {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-card-content {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: stretch;
    align-items: center;
    overflow-y: scroll;
}

.in-div-container-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30%;
}

.container {
    margin: -1%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

.flex-item-colored {
    margin-right: -1%;
    margin-bottom: -1%;
    background-color: #7887AB;
    flex-basis: 60%;
}

.flex-item {
    justify-items: center;
    align-items: center;
    margin: 2%;
    flex-basis: 40%;
}
